@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

p {
	font-size: 18px;
}

//navbar字体大小
.navbar .links {
	font-size: 15px !important;
}



